#!/bin/bash
#eval `./healthCheckexe`
######################
#0 => Do nothing
#1 => restart orion
######################

INPUT_STRING=$(./healthCheckexe)
case $INPUT_STRING in
	"0")
		echo "Successful response from Orion service"
		;;
	"1")
		echo "Orion isn't responding, restarting Orion..."
        systemctl restart orion
		break
		;;
	*)
		echo "Unexpected response from golang program, please check health check program"
		;;
esac