# RPC
rpc-http-enabled=true
graphql-http-enabled=true
rpc-ws-enabled=true
rpc-http-port=4545
graphql-http-port=4547
rpc-ws-port=4546
rpc-http-api=["ETH","NET","IBFT","EEA","PRIV", "WEB3"]
## Uncomment the following lines to allow RPC from remote locations (risky)
host-whitelist=["*"]
rpc-http-host="0.0.0.0"
rpc-http-cors-origins=["*"]
# graphql-http-host="0.0.0.0"




# Orion
#privacy-enabled=true
#privacy-url="http://127.0.0.1:4444"
#privacy-public-key-file="/root/lacchain/orion/keystore/nodeKey.pub"

# Networking
p2p-host="{{node_ip}}"
p2p-port=60606
bootnodes=["enode://e856f4628ae7ff93cb6a83bd0afb172f9fcb24dc2ec26e8c9b2662d43a45dae18534c34a6d0438749592c96074ef4d5e444efaf1a9284afc17e12b79df0fd902@104.197.26.230:60606"]

# Gas
min-gas-price=0