[application]
nodeURL = "http://localhost:4545"
contractAddress = "{{relayhub_address}}"
nodeKeyPath = "/root/lacchain/data/key"  
nodeAddressPath = "/root/lacchain/data/nodeAddress"
port = 9001

[keystore]
agent = "/home/adrian/.ethereum/keystore/UTC--2020-06-26T19-00-23.241896464Z--bceda2ba9af65c18c7992849c312d1db77cf008e"

[passphrase]
agent = "Peru123."

[security]
permissionsEnabled = false
accountContractAddress = "{{localpermissioning_address}}"