[Unit]
Description=Tessera client

[Service]
Type=simple
Restart=always
ExecStart=/root/lacchain/start-tessera.sh
MemoryLimit=2048M

[Install]
WantedBy=default.target
