# ***Choose one of these roles for installing a new node or updating an existing one ***
[bootnodes]
# 23.251.144.110 node_name=bootnode1
# 35.229.76.38   node_name=bootnode2
# 35.247.241.166 node_name=bootnode3
# 35.197.76.152  node_name=bootnode4

[writer]
# 35.198.58.193   node_ip=35.198.58.193 node_name=sat-everis-ar
## Add your node by changing the line below
# <your node address> node_ip=<besu_public_ip> password=<orion password> node_name=<node name> node_email=<your@email> dns_name=<your dns>

[validators]
# 35.194.50.229  node_name=validator1
# 35.222.76.196  node_name=validator2
# 35.199.81.31   node_name=validator3
# 35.230.184.146 node_name=validator4
# 35.230.37.255  node_name=validator5
# 35.236.23.216  node_name=validator6
# 35.198.6.207   node_name=validator7

#When you want to update, you can customize the version to update by typing the sha commit of the orion and Besu release
#eg:
[writer] ##it can also be [bootnodes] or [validators]
#35.222.239.124 besu_release_version='1.3.8' orion_release_version='1.4.0'

#Current Besu commit sha obtained from: https://github.com/hyperledger/besu/releases
#Tested BESU versions: 
# 1.3.5
# 1.2.4

#Current orion commit sha versions obtained from: https://github.com/PegaSysEng/orion/releases
#Tested orion versions: 
# 1.3.2
# 1.4.0


######
## You don't need to touch anything below this point
######

[all:vars]
password=default_password
node_email=default@email
bootnode=false
validator=false
first_node=false
install=false
besu_release_version='1.3.6'
orion_release_version='1.4.0'
dns_name=lacchain.com
[bootnodes:vars]
bootnode=true

[validators:vars]
validator=true
