[bootnodes]
# 23.251.144.110 node_name=bootnode1
# 35.229.76.38   node_name=bootnode2
# 35.247.241.166 node_name=bootnode3
# 35.197.76.152  node_name=bootnode4

[regular]
# 35.198.58.193       node_ip=35.198.58.193 node_name=sat-everis-ar
## Add your node by changing the line below
# <your node address> password=<orion password> node_name=<node name> node_email=<your@email>

[validators]
# 35.194.50.229  node_name=validator1
# 35.222.76.196  node_name=validator2
# 35.199.81.31   node_name=validator3
# 35.230.184.146 node_name=validator4
# 35.230.37.255  node_name=validator5
# 35.236.23.216  node_name=validator6
# 35.198.6.207   node_name=validator7

#for updates:
[node]
34.66.119.158 pantheon_release_commit="9b14345b8bf62d1d00d2604993bc05c105e11fdf" pantheon_current_release_number="1.2.2"
#update this with the current commit sha and version obtained from: https://github.com/PegaSysEng/pantheon/releases

######
## You don't need to touch anything below this point
######

[all:vars]
password=default_password
node_email=default@email
bootnode=false
validator=false
first_node=false

[bootnodes:vars]
bootnode=true

[validators:vars]
validator=true