#!/bin/bash

nodeurl = "http://127.0.0.1:4040/"
nodeport = 4040
nodenetworkinterface = "0.0.0.0"
clienturl = "http://127.0.0.1:4444/"
clientport = 4444
publickeys = ["/root/lacchain/orion/keystore/nodeKey.pub"]
privatekeys = ["/root/lacchain/orion/keystore/nodeKey.key"]
passwords = "/root/lacchain/tmp/.account_pass"
othernodes = ["http://23.251.144.110:4040/", "http://35.229.76.38:4040", "http://35.247.241.166:4040", "http://35.197.76.152:4040"]
tls = "off"