#!/bin/bash

nodeurl = "http://127.0.0.1:8080/"
nodeport = 8080
nodenetworkinterface = "0.0.0.0"
clienturl = "http://127.0.0.1:8888/"
clientport = 8888
publickeys = ["/root/lacchain/orion/keystore/nodeKey.pub"]
privatekeys = ["/root/lacchain/orion/keystore/nodeKey.key"]
passwords = "/root/lacchain/tmp/.account_pass"
othernodes = ["http://23.251.144.110:8080/", "http://35.229.76.38:8080", "http://35.247.241.166:8080", "http://35.197.76.152:8080"]
tls = "off"