[Unit]
Description=Ethereum Pantheon client

[Service]
Type=simple
Restart=always
ExecStart=/root/lacchain/start-pantheon.sh
MemoryLimit=4096M

[Install]
WantedBy=default.target
