#!/bin/bash

nodeurl = "http://127.0.0.1:4040/"
nodeport = 4040
nodenetworkinterface = "0.0.0.0"
clienturl = "http://127.0.0.1:4444/"
clientport = 4444
publickeys = ["/root/lacchain/orion/keystore/nodeKey.pub"]
privatekeys = ["/root/lacchain/orion/keystore/nodeKey.key"]
passwords = "/root/lacchain/tmp/.account_pass"
tls = "off"
