# RPC
rpc-http-enabled=true
graphql-http-enabled=true
rpc-ws-enabled=true
rpc-http-port=4545
graphql-http-port=4547
rpc-ws-port=4546
rpc-http-api=["ETH","NET","IBFT","EEA","PRIV"]
## Uncomment the following lines to allow RPC from remote locations (risky)
host-whitelist=["*"]
rpc-http-host="127.0.0.1"
rpc-http-cors-origins=["*"]
# graphql-http-host="0.0.0.0"

# Orion
#privacy-enabled=false
#privacy-url="http://127.0.0.1:4444"
#privacy-public-key-file="/root/lacchain/orion/keystore/nodeKey.pub"

# Networking
p2p-host="{{node_ip.stdout}}"
p2p-port=60606

# Gas
min-gas-price=0

#Metrics
metrics-push-enabled=true
metrics-push-port=9091
metrics-push-host="34.69.246.25"
metrics-push-interval=5
metrics-push-prometheus-job="{{node_name}}"