#!/bin/bash

nodeurl = "https://{{node_ip}}:4040/"
nodeport = 4040
nodenetworkinterface = "0.0.0.0"
clientnetworkinterface = "0.0.0.0"
clienturl = "http://{{node_ip}}:4444/"
clientport = 4444
publickeys = ["/root/lacchain/orion/keystore/nodeKey.pub"]
privatekeys = ["/root/lacchain/orion/keystore/nodeKey.key"]
passwords = "/root/lacchain/tmp/.account_pass"
othernodes = []
tls = "strict"

tlsservercert = "/root/lacchain/orion/certificates/orion_cer.pem"
tlsserverchain = ["/root/lacchain/orion/certificates/orion_ca.pem"]
tlsserverkey = "/root/lacchain/orion/certificates/orion_cer.key"

tlsclientcert = "/root/lacchain/orion/certificates/orion_cer.pem"
tlsclientchain = ["/root/lacchain/orion/certificates/orion_ca.pem"]
tlsclientkey = "/root/lacchain/orion/certificates/orion_cer.key"

tlsservertrust = "ca"
tlsclienttrust = "ca"