[Unit]
Description=RotationValidator service
ConditionPathExists=/root/lacchain/rotation-validator/client/client
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/root/lacchain/rotation-validator/client
ExecStart=/root/lacchain/rotation-validator/client/client

[Install]
WantedBy=multi-user.target