  <body>
    <div class="wrapper">
      title
      <header>
        <h1><a href="{{ "/"}}">{{ site.title }}</a></h1>

        {% if site.logo %}
          <img src="{{ site.logo }}" alt="LACNet" />
        {% endif %}

        {% for repository in site.github.public_repositories %}
          * [{{ repository.name }}]({{ repository.html_url }})
        {% endfor %}

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        <!-- 
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %} -->

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

      </header>
      {% }
      <p>Text to view</p>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>