[Unit]
Description=Constellation service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=1
User=root
ExecStart=/root/lacchain/start-constellation.sh
NotifyAccess= all

[Install]
WantedBy=multi-user.target