---
- name: install dependencies for {{ ansible_distribution }}
  apt:
    name:
      - software-properties-common
      - unzip
      - wget
      - git
      - make
      - gcc
      #      - libsodium-dev
      - build-essential
      - libdb-dev
      - zlib1g-dev
      - libtinfo-dev
      - sysvbanner
      - psmisc
      - libdb5.3-dev
      - cron
