[Unit]
Description=Orion client
PartOf=health-check.service

[Service]
Type=simple
Restart=always
ExecStart=/root/lacchain/start-orion.sh
MemoryLimit=2048M

[Install]
WantedBy=default.target
